.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ArticleDetails {
  background-color: white;
}

.TextDescription {
  padding-left: 10px;
  color: rgb(0, 204, 204);
  font-size: 1.3em;
}
.TitleDescription {
  padding-left: 10px;
  color: rgb(0, 204, 204);
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}

.FontSize {
  font-size: 20px;
  padding-left: 10px;
  color: #293d3d;
  padding-right: 10px;
}

.ColorButton {
  background-color: #009682;
}

.HeartPositionColor {
  text-align: "right";
  background-color: #009682;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
